@import '../../assets/variables.scss';
@import '../../assets/mixins.scss';
@import '../../assets/typography.scss';

.how-it-works {
	// margin-top: -400px;
	@include fluid-size('margin-top', $min-vw, $max-vw, 232px, 316px);
	display: flex;
	flex-direction: column;

	position: relative;

	&__background {
		height: 100%;
		left: 0;
		position: absolute !important;
		top: 0;
		width: 100%;
		z-index: -1;

		img {
			object-position: top;
		}
	}

	&__header {
		align-items: center;
		color: $white;
		display: flex;
		flex-direction: column;
		margin: auto;
		max-width: 850px;

		text-align: center;

		#how-it-work{
			scroll-margin-top: 160px;
			scroll-snap-margin-top: 160px;
		}

		&-anchor {
			@extend .label-primary;
			background: $dark01;
			border-radius: 2px;
			padding: 4px 10px;
		}

		&-title {
			@extend h2;
			color: $white;

		}

		&-secondary-text {
			margin: 0;
			max-width: 630px;
			@extend .text-main;
		}
	}

	&__video {
		@include fluid-size('margin-top', $min-vw, $max-vw, -80px, -170px);
		@include fluid-size('padding-top', $min-vw, $max-vw, 20px, 90px);
		@include fluid-size('padding-right', $min-vw, $max-vw, 10px, 60px);
		@include fluid-size('padding-bottom', $min-vw, $max-vw, 20px, 90px);
		@include fluid-size('padding-left', $min-vw, $max-vw, 10px, 60px);
		background: $darkgray;
		border-radius: 10px;
		// margin-bottom: 60px;
		position: relative;
		// top: -270px;
		@include fluid-size('top', $min-vw, $max-vw, -60px, -100px);

	}

	.video-react .video-react-big-play-button.video-react-big-play-button-center.home__video-play-button {
		background: rgba(255, 255, 255, 0.8);
		border-radius: 100px;
		border-style: none;
		height: 100px;
		margin: 0;
		transform: translate(-50%, -50%);
		width: 100px;

		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='24' viewBox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 10.268C21.3333 11.0378 21.3333 12.9623 20 13.7321L3.5 23.2583C2.16667 24.0281 0.5 23.0659 0.5 21.5263V2.47372C0.5 0.934118 2.16667 -0.0281308 3.5 0.74167L20 10.268Z' fill='%235936E3'/%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
			content: '';
			margin-left: 3px;
		}
	}
}
