@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';
@import '../../../assets/typography.scss';


.label-textarea {
	display: block;
	padding-bottom: 5px;
}

.textarea {
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	box-sizing: border-box;
	color: $white05;
	min-height: 160px;
	padding: 15px 18px;
	resize: none;
	width: 100%;
	@extend .text-secondary;
	


	&::placeholder {
		color: $white05;
	@extend .text-secondary;
	}

	&:focus,
	&:hover {
		background: rgba(255, 255, 255, 0.2);
		border: 2px solid $white;
		border-radius: 10px;
		box-sizing: border-box;
		color: $white;
		outline: none;
	} 
}

.textarea-label {
	@extend .text-secondary;

	color: $white;
	margin-bottom: 25px;

	&__error {
		color: $red1;
	}
}
