h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
}

h1 {
	@include fluid-type($min-vw, $max-vw, 40px, 80px);
	font-family: $f-black;
	font-weight: 900;
	line-height: 110%;
}

h2 {
	@include fluid-type($min-vw, $max-vw, 25px, 56px);
	font-family: $f-bold;
	line-height: 120%;
}

h3 {

	@include fluid-type($min-vw, $max-vw, 20px, 40px);
	@include fluid-size('line-height', $min-vw, $max-vw, 130%, 110%);
	font-family: $f-bold;
}

h4 {
	@include fluid-type($min-vw, $max-vw, 18px, 30px);
	font-family: $f-bold;
	line-height: 130%;
}

.text-main {
	@include fluid-type($min-vw, $max-vw, 16px, 25px);
	font-family: $f-regular;
	line-height: 150%;
}

.text-secondary {
	@include fluid-type($min-vw, $max-vw, 14px, 20px);
	font-family: $f-regular;
	line-height: 150%;
}

.button-text {
	@include fluid-type($min-vw, $max-vw, 14px, 20px);
	font-family: $f-semibold;
	line-height: 150%;
}

.label-primary {
	@include fluid-type($min-vw, $max-vw, 14px, 18px);
	font-family: $f-black;
	line-height: 120%;
}

.label-primary-price {
	@include fluid-type($min-vw, $max-vw, 14px, 18px);
	font-family: $f-regular;
	line-height: 130%;
}

.label-secondary {
	@include fluid-type($min-vw, $max-vw, 12px, 14px);
	font-family: $f-bold;
	line-height: 150%;
}

.label-form {
	@include fluid-type($min-vw, $max-vw, 14px, 20px);
	font-family: $f-regular;
	line-height: 150%;
}
