$min-vw: 320px;
$max-vw: 1920px;
$des-vw: 1400px;
$tab-des-vw: 1140px;

$f-regular: 'Lato Regular';
$f-black: 'Lato Black';
$f-bold: 'Lato Bold';
$f-heavy: 'Lato Heavu';
$f-medium: 'Lato Medium';
$f-semibold: 'Lato Semibold';

$main-background: #E5E5E5;
$black: '#000000';
$black-08: rgba(0, 0, 0, 1);
$darkgrayBtnLanguage: #434445;
$darkgray: rgba(20, 21, 22, 1);
$darkgray05: rgba(20, 21, 22, 0.5);
$darkgray02: rgba(20, 21, 22, 0.2);
$dark01: rgba(255, 255, 255, 0.1);
$black-cards: #1a1b1b;
$black-elements: #232425;
$black-elements1: #1a1b1b;
$white: #fff;
$white08: rgba(255, 255, 255, 0.8);
$white01: rgba(255, 255, 255, 0.1);
$white04: rgba(255, 255, 255, 0.4);
$white05: rgba(255, 255, 255, 0.5);
$yellow: #fbbc41;
$red: #d32948;
$red04: rgba(211, 41, 72, 0.4);
$red01: rgba(211, 41, 72, 0.1);
$red1: rgba(211, 41, 72, 1);
$purple-main: rgba(89, 54, 227, 1);
$purple-main08: rgba(89, 54, 227, 0.8);
$purple-main05: rgba(89, 54, 227, 0.5);
$purple-main01: rgba(89, 54, 227, 0.1);
$purple-gradient: linear-gradient(266.42deg, #5936e3 0%, #6e56b5 100%);
$purple-light: #f5f7ff;
$purple-gradient: linear-gradient(266.42deg, #5936e3 0%, #6e56b5 100%);
$purple-gradient-hover: linear-gradient(266.42deg, #4724d3 0%, #6042b5 100%);

$box-shadow-purple: 5px 5px 20px rgba(89, 55, 226, 0.5);
$box-shadow-purple-hover: 5px 5px 20px rgba(89, 55, 226, 0.6);
$box-shadow-white: 5px 5px 20px #4222c4;
$box-shadow-white-hover: 5px 5px 20px #3316a6;
$box-shadow-demo: 5px 5px 20px rgba(89, 55, 226, 0.5);
$box-shadow-demo-hover: 5px 5px 20px rgba(89, 55, 226, 0.6);

$color-btn-secondary-border: rgba(89, 54, 227, 0.5);
$color-btn-secondary-border-hover: rgba(89, 54, 227, 0.8);
$background-color-btn-secondary: #f5f7ff;
$color-text-button: rgba(89, 54, 227, 1);

$box-shadow-menu: #c8cfeb;

$box-shadow-double-button: linear-gradient(266.42deg, #5936e3 0%, #6e56b5 100%);
